@media screen and (min-width: 1024px) {
	.container {
		max-width: 90% !important;
	}
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 50% !important;
	}
}

.box {
	padding: 0 !important;
}

.photo-header,
.photo-content,
.photo-comment {
	padding: 0.5rem 1.25rem;
}

.photo-header {
	font-weight: bold;
}

.photo-img img {
	width: 100%;
}

.photo-comment {
	border-top: 1px solid #dbdbdb;
}

.photo-comment a {
	text-decoration: none !important;
	color: #000000 !important;
	font-weight: bold;
	margin-right: 8px;
}

.photo-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #000000 !important;
	font-size: 16px;
}

.photo-created {
	font-size: 12px;
}

.box:last-child {
	margin-bottom: 40px;
}