{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}

{% block content %}

{% comment %} <div class="container">
    <div class="row">
        <div class="col">
            {% for object in object_list %}
            <div class="card">
                {{ object.author }}
                <img src="{{ object.image.url }}">
                {{ object.text }}
                {{ object.created }}
                {{ object.updated }}

                <div class="list">
                    <a href="{% url 'photo:detail' object.id %}">댓글</a>
                    <a href="{% url 'photo:update' object.id %}">수정</a>
                    <a href="{% url 'photo:delete' object.id %}">삭제</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div> {% endcomment %}
{% endblock %}